.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name user_name
    .groups
      groups
  .chat-main
    .main-header 
      %p room_name
    .messages 
      %p 部分テンプレートでメッセージを表示？
    .form#new-message.new-message
      %form#new-message.new-message
        .input-box  
          %input#message-content.input-box__text{type: "text", placeholder: "type message"}
          %label.image-label
            %i.fa.fa-image
            %input#message_image.image-label__input{type: "file"}
        %input.new-message__submit-btn{type: "submit", value: "Send"}
