.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header 
      .current-group
        %h2.current-group__name
          = Group.find(params[:group_id])[:name]
        %ul.member-list
          Member : 
          - GroupUser.where(group_id: params[:group_id]).each do |groupuser|
            %li.member-list__member
              = User.find(groupuser[:user_id])[:name]
          -# - GroupUser.where(group_id: params[:group_id]).each do |user_id|
          -#   %li.member-list__member
          -#     = User.find(user_id)[:name]
      = link_to edit_group_path(current_user.id), class: "group-edit-btn" do
        .gtoup-edit-btn__div Edit
    .messages
      .message
        .message-meta-data
          %p.message-meta-data__name name
          %p.message-meta-data__date date
        .message-text
          %p message
      .message
        .message-meta-data
          %p.message-meta-data__name name
          %p.message-meta-data__date date
        .message-text
          %p message

    .form
      %form#new-message.new-message
        .input-box  
          %input#message-content.input-box__text{type: "text", placeholder: "type a message"}
          %label.image-label
            %i.image-label__file-icon.fa.fa-image
            %input#message_image.image-label__input{type: "file"}
        %input.new-message__submit-btn{type: "submit", value: "Send"}
