$side-header-color: #253141;
$chat-side-color: #2f3e51;
$messages-color: #fafafa;
$main-header-color: #ffffff;
$form-color: #DDDDDD;
$side-font-color: #FFFFFF;
$message-font-color: #434A54;
$message-date-font-color: #999999;
$main-header-bottom-color: #eeeeee;

$header-height: 100px;