.chat-side
  .side-header
    %p.user-name
      user_name
    %ul.user-menu
      %li
        = link_to new_group_path do
          %i.user-menu__edit-icon.fa.fa-edit
      %li
        = link_to edit_user_path(current_user.id) do
          %i.user-menu__cog-icon.fa.fa-cog
  .groups
    %ul
      %li
        = link_to '#' do
          .group
            %p.group__name group-name
            %p.group__latest-message message is here!
      %li
        = link_to '#' do
          .group
            %p.group__name group2-name
            %p.group__latest-message hello

